*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
   
   
}

body{
    width: 75%;
    margin: 0 auto;
    font-family:'Fredoka', serif;
}

h1{
    color: palevioletred;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.col{
    width: 33.3%;
    float: left;
    margin-right: 0;
    padding: 0 10px;
    



}
.col:last-child{
    padding-right: 0;
}

.col:first-child{
    padding-left: 0;


}    
.clear::after{
    content: "";
    display: table;
    clear: both;
    margin-bottom: 20px;
}



.card{
    float:left;
    width: 96px;
    margin-right: 15px;

}

.text{
    color: white;
    float: left;
    padding: 5px;
    
    
}

.email{
    color: aqua;


}

img{
    max-width: 100%;
}

.text1{
    margin-bottom: 50px;
    text-align: center;
    
}

.content{
    background-color: black;
    height: 100%;
}

.content::after{
    content: "";
    display: table;
    clear: both;

}

.paragrafo{

margin-bottom: 10px;
}